.wrapper {
    padding: 20px;
    background-color: #f8f9fa;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  /* Style for the hover information window */
  .hover-info {
    position: absolute;
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 10px;
    display: none;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    z-index: 9999;
  }
  .checkbox-column {
    width: 5%;
    text-align: center;
  }
  .checkbox-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}